service: scaleway-python3
configValidationMode: off
provider:
  name: scaleway
  runtime: python310 # Available python runtimes are listed in documentation
  # Global Environment variables - used in every functions
  env:
    test: test
  # the path to the credentials file needs to be absolute
  scwToken: <scw-token>
  scwProject: <scw-project-id>
  # region in which the deployment will happen
  scwRegion: <scw-region>

plugins:
  - serverless-scaleway-functions

package:
  patterns:
    - '!node_modules/**'
    - '!.gitignore'
    - '!.git/**'

functions:
  first:
    handler: handler.handle
    # Local environment variables - used only in given function
    env:
      local: local
