service: scaleway-container
configValidationMode: off
provider:
  name: scaleway
  # Global Environment variables - used in every functions
  env:
    test: test
  # the path to the credentials file needs to be absolute
  scwToken: <scw-token>
  scwProject: <scw-project-id>
  # region in which the deployment will happen
  scwRegion: <scw-region>

plugins:
  - serverless-scaleway-functions

package:
  patterns:
    - '!node_modules/**'
    - '!.gitignore'
    - '!.git/**'

custom:
  containers:
    first:
      directory: my-container
      # minScale: 1
      # memoryLimit: 256
      # maxScale: 2
      # timeout: 20000
      # port: 8080
      # Local environment variables - used only in given function
      env:
        local: local
