service:
  name: scaleway-node10
configValidationMode: off
provider:
  name: scaleway
  runtime: node10
  # Global Environment variables - used in every functions
  env:
    test: test
  # the path to the credentials file needs to be absolute
  scwToken: <scw-token>
  scwOrganization: <scw-organization-id>

plugins:
  - serverless-scaleway-functions

package:
  exclude:
    - .gitignore
    - .git/**

functions:
  nodefunc:
    handler: handler.handle
    # Local environment variables - used only in given function
    env:
      local: local
  pythonfunc:
    runtime: python3  # Here we add a specific runtime for the function
    handler: handler.handle
    # Local environment variables - used only in given function
    env:
      local: local
