service: scaleway-multiple
configValidationMode: off
provider:
  name: scaleway
  runtime: node22
  # Global Environment variables - used in every functions
  env:
    test: test

plugins:
  - serverless-scaleway-functions

package:
  patterns:
    - "!node_modules/**"
    - "!.gitignore"
    - "!.git/**"

functions:
  nodefunc:
    handler: handler.handle
    # description: ""
    # Local environment variables - used only in given function
    env:
      local: local
  pythonfunc:
    runtime: python311 # Here we add a specific runtime for the function
    handler: handler.handle
    # description: ""
    # Local environment variables - used only in given function
    env:
      local: local
