service: scaleway-golang
configValidationMode: off
provider:
  name: scaleway
  runtime: go122 # Available go runtimes are listed in documentation
  # Global Environment variables - used in every functions
  env:
    test: test

plugins:
  - serverless-scaleway-functions

package:
  patterns:
    - "!node_modules/**"
    - "!.gitignore"
    - "!.git/**"

functions:
  first:
    # handler is just the name of the exported handler function
    handler: Handle
    # description: ""
    # Local environment variables - used only in given function
    env:
      local: local

  mymodule:
    # if your handler is defined at the root of a file on the module `mypackage`
    # `mypackage` folder must be a valid Go module (with a go.mod)
    handler: "mypackage/Handle"
